os: linux
language: node_js

node_js:
  - "lts/*"
sudo: required

addons:
    chrome: stable

services:
  - xvfb

install:
  - npm set progress=false
  - npm install

script:
  - npm run lint
  - npm run test
  - npm run package
  - npm run doc

cache:
  directories:
    - node_modules

notifications:
  email:
    on_success: never