html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #9ad3bc;
}
h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffe3d8;
}

#status {
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
}
.banner {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 80px;
  background-color: #ec524b;
}
#container {
  position: relative;
  margin: 0 auto;
  height: 90%;
  width: 60%;

  /*border: 1px solid #000000;*/
}
#container img {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /*border: 1px solid #000000;*/
}
.secs {
  position: absolute;
  margin: auto;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
  /*border: 3px solid #73AD21;*/
}
#mainsec {
  top: 50%;
  height: 60%;
}
#nameSec {
  top: 80%;
  height: 20%;
}
#sessionName {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  height: 50%;
  font-size: x-large;
}
#startSessionBtn {
  position: relative;
  background-color: #e0bab8;
  font-size: 30px;
  height: 25%;
  width: 60%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid grey;
  border-radius: 5%;
}
#startSessionBtn:hover {
  background-color: #777676;
}
