.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffdbdb;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar button {
  height: 10%;
  width: 100%;
  font-size: 25px;
  background-color: #bbbbbb;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar button:hover {
  background-color: white;
}

.toggleMenuBtn {
  font-size: x-large;
  background-color: #bbbbbb;
  color: black;
  /* padding: 10px 15px; */
  border: none;
  /* Prevent a border from being shown around the button when clicked (it just
   * doesn't look good when that happens): https://stackoverflow.com/a/52714433
   */
  outline: none !important;
}

.toggleMenuBtn:hover {
  background-color: grey;
}

#hamburger {
  position: fixed;
  top: 0;
  left: 0;
  transition: margin-left 0.5s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #9ee9e3;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#HistoryModalContent {
  height: 70%;
  overflow: scroll;
}

.close {
  color: #a5a5a5;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.collapsibleBtn {
  background-color: #777777;
  color: white;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

#dummyBtn,
#dummyContent {
  display: none;
}

.collapsibleBtn:hover {
  background-color: #555555;
}

.coll-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* The following CSS styles the session "info tables" in the menu.
 * Some of this was derived from MDN's documentation on styling tables (bless):
 * https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Styling_tables
 */
.sessionInfoTable td,
.sessionInfoTable th {
  padding: 2px;
  border-collapse: collapse;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

/* For the table headers (only on the left column of the table), don't use a
 * left border (so that the table's left edge is flush with the edge of the
 * screen).
 */
.sessionInfoTable th {
  border-right: 1px solid gray;
}

/* And for the table non-header columns (only on the right column of the
 * table), don't use a right border (so that the table's right edge is flush).
 */
.sessionInfoTable td {
  border-left: 1px solid gray;
}

/* Don't show a border around the "top" portion of the table titles.
 * Just another small little cosmetic thing.
 */
.tableTopHeader {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.sessionInfoTable {
  width: 100%;
  margin-top: 1em;
  border-collapse: collapse;
  border-left: none !important;
  border-right: none !important;
}
