* {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #f1dcdc;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#status {
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
}

#count_down {
  top: 10%;
  left: 50%;
  position: absolute;

  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 40px;
  color: #ffffff;
}

.secs {
  position: absolute;
  margin: auto;
  left: 50%;
  width: 75%;
}
#stat {
  top: 15%;
  height: 10%;
}
#mainsec {
  top: 50%;
  height: 60%;
}

#container {
  position: relative;
  margin: 0 auto;
  height: 90%;
  width: 60%;
}
#container img {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
}
#clock {
  height: 25%;
  width: 60%;
  position: absolute;
  top: 55%;
  left: 50%;
}

#control {
  position: relative;
  margin: 0 auto;
  height: 15%;
  width: 60%;
}

.controls {
  float: left;
  margin-left: 9%;
  margin-right: 9%;
  width: 15%;
  height: 100%;
  background-color: #d3eaec;
  border-radius: 10%;
  border: 1px solid #ffffff;
  text-align: center;
}
.controls:hover {
  background-color: #a6d5d8;
}
.controls:focus {
  background-color: #a6d5d8;
}

.control {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 50%;
  height: 20%;

  padding-top: 15px;
  padding-bottom: 25px;

  border: 3px solid #73ad21;
}

.controls img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  /*border: 1px solid #000000;*/
}
